@page "/access-detail/{Id}";

<section id="features" class="features">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Title</h2>
        <p>@Description</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
            <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                <img src="../img/features-light-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                <h3>Sunt consequatur ad ut est nulla</h3>
                <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                <ul>
                    <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
                </ul>
                <a href="#" class="btn btn-get-started align-self-start">Buy Access</a>
            </div>
        </div>
    </div>

</section>

<section  class="features">
     <div class="container section-title" data-aos="fade-up">
        <h2>Subscriptions</h2>
      </div>
    <div class="container">

        <div class="row features-item ">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Single Access</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <NavLink href="buy-ticket" class="btn btn-get-started">Buy</NavLink>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Couple Access</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <NavLink href="buy-ticket" class="btn btn-get-started">Buy</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section

<!-- Portfolio Section - Home Page -->
@* <section id="portfolio" class="portfolio">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="../img/masonry-portfolio/masonry-portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>Lorem ipsum, dolor sit</p>
                        <a href="../img/masonry-portfolio/masonry-portfolio-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="../img/masonry-portfolio/masonry-portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>Lorem ipsum, dolor sit</p>
                        <a href="../img/masonry-portfolio/masonry-portfolio-4.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="../img/masonry-portfolio/masonry-portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>Lorem ipsum, dolor sit</p>
                        <a href="../img/masonry-portfolio/masonry-portfolio-7.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section> *@<!-- End Portfolio Section -->

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]

    public string? ImageUrl { get; set; }


    [Parameter]

    public string? CompanyName { get; set; }

    protected override async Task OnInitializedAsync()
    {

        Id = Guid.NewGuid().ToString();
        Title = "Work Space Access";
        ImageUrl = "";
        CompanyName = "";
        Description = "Access to the workspace";
    }
}
